.signin {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.signin-img {
  width: 90%;
  height: 40%;
  margin-top: 2rem;
}

.signin-form__title {
  color: #252e49;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0.5rem 0;
}

.signin-form {
  width: 90%;
  height: 60%;
}

.signin-form__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.signin-inputs {
  margin-top: 1rem;
  width: 100%;
  height: 88%;
  display: grid;
  grid-template-rows: 100px 100px;
  row-gap: 1rem;
}

.footer {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
}

.button-wrapper {
  width: 100%;
  height: 70%;
  margin-bottom: 3rem;
}

@media screen and (max-height: 800px) {
  .button {
    font-size: 0.8rem;
  }
  .signin-inputs {
    grid-template-rows: 78px 78px;
  }
  .footer {
    font-size: 0.7rem;
  }
}

@media screen and (max-height: 700px) {
  .signin-form__title {
    font-size: 22px;
    line-height: 28px;
  }
  .signin-img {
    width: 70%;
    height: 40%;
  }
  .signin-form {
    height: 60%;
  }
}

@media screen and (max-height: 600px) {
  .signin-form__title {
    font-size: 20px;
    line-height: 26px;
  }
  .signin-inputs {
    margin-top: 0.5rem;
    grid-template-rows: 65px 65px;
    margin-bottom: 1rem;
  }
  .button-wrapper {
    height: 65%;
  }
}

@media screen and (max-height: 550px) {
  .signin-form__title {
    font-size: 18px;
    line-height: 24px;
  }
  .signin-img {
    display: none;
  }
  .signin-form {
    height: 100%;
  }
  .signin-inputs {
    margin-top: 1rem;
    grid-template-rows: 80px 80px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-height: 400px) {
  .signin-form__title {
    font-size: 18px;
    line-height: 24px;
  }
  .signin-inputs {
    margin-top: 1rem;
    grid-template-rows: 70px 70px;
    margin-bottom: 0.5rem;
  }
  .button-wrapper {
    height: 60%;
  }
}
